/* 폰트 */

@font-face {
  font-family: "SpoqaHanSansNeo";
  src: url("../font/SpoqaHanSansNeo-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "SpoqaHanSansNeo";
  src: url("../font/SpoqaHanSansNeo-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}

/* 접근 가능하도록 숨김 처리 */

.sr-only {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
}

/* 기본 설정값 */

:root {
  /* color */
  --main-background: #f2e9d8;
  --point-backgroud: #263140;

  --main-txt-color: #000;
  --point-txt-color: #d97652;
  --pointbg-txt-color: #fff;

  --btn-color: #d97652;
  --btn-txt-color: #fff;

  /* font */
  --pc-tit-size: 3rem;
  --pc-regular-size: 1rem;
  --pc-middle-size: 2.25rem;
  --pc-btn-size: 1rem;

  --mo-tit-size: 1.5rem;
  --mo-regular-size: 0.87rem;
  --mo-btn-size: 0.87rem;

  /* btn */
  --pc-btn-padding: 15px 29px;
  --mo-btn-padding: 11px 24px;
}

html {
  font-size: 16px;
}

body {
  font-family: "SpoqaHanSansNeo", sans-serif;
}

/* 버튼 스타일 */
.btn {
  background-color: var(--btn-color);
  color: var(--btn-txt-color);
  border: none;
  border-radius: 40px;

  font-family: "SpoqaHanSansNeo", sans-serif;
  font-weight: 700;
}
