/* 폰트 */

@font-face {
  font-family: "SpoqaHanSansNeo";
  src: url("../font/SpoqaHanSansNeo-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "SpoqaHanSansNeo";
  src: url("../font/SpoqaHanSansNeo-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}

/* 접근 가능하도록 숨김 처리 */

.sr-only {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
}

/* 기본 설정값 */

html {
  scroll-behavior: smooth;
}

body {
  color: var(--main-txt-color);
  font-family: "SpoqaHanSansNeo", sans-serif;
  font-weight: 400;
  line-height: 100%;
  box-sizing: border-box;
}

p {
  line-height: 1.4rem;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: inherit;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}
