/* 모달 숨기기 */

.modal {
  display: none;
}

/* 기본 설정값 */
:root {
  /* color */
  --main-background: #f2e9d8;
  --point-backgroud: #263140;

  --main-txt-color: #000;
  --point-txt-color: #d97652;
  --pointbg-txt-color: #fff;

  --btn-color: #d97652;
  --btn-txt-color: #fff;

  --sns-btn-color: #f29d52;

  /* font */
  --pc-tit-size: 3rem;
  --pc-regular-size: 1rem;
  --pc-middle-size: 2.25rem;
  --pc-btn-size: 1rem;

  --mo-tit-size: 1.5rem;
  --mo-regular-size: 0.875rem;
  --mo-middle-size: 1rem;
  --mo-btn-size: 0.875rem;

  /* btn */
  --pc-btn-padding: 0.93rem 1.8rem;
  --mo-btn-padding: 0.69rem 1.5rem;
}

/* PC, 모바일 공통 스타일  */

/* 버튼 스타일 */
.btn {
  background-color: var(--btn-color);
  color: var(--btn-txt-color);
  border: none;
  border-radius: 40px;

  font-family: "SpoqaHanSansNeo", sans-serif;
  font-weight: 700;
}

.content-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.txt-tit {
  font-weight: 700;
  line-height: normal;
}

.wrap-txt-hero p,
.wrap-intro p,
.txt-gallery,
.wrap-gallery,
.subscribe .subscribe-form input {
  font-size: var(--pc-regular-size);
}

.txt-strong {
  color: var(--point-txt-color);
  font-weight: 700;
}

.subscribe .subscribe-form::before {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  z-index: 1;
  background: url(../img/mail.svg);
}

.content-footer::before {
  content: "";
  display: block;
  width: 100%;
  margin-top: -100px;
  background: url(../img/img_5.png) center / cover no-repeat;
}

.content-footer .sns-link-footer a {
  border-radius: 50%;
  background: url(../img/blog.svg) #f29d52 center no-repeat;
}

.content-footer .sns-link-footer .link-insta {
  background-image: url(../img/instagram.svg);
}

.content-footer .sns-link-footer .link-facebook {
  background-image: url(../img/facebook.svg);
}

.content-footer .sns-link-footer .link-youtube {
  background-image: url(../img/youtube.svg);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;

  border-radius: 30px;
  background: url(../img/modal-bg-img.png) top / cover no-repeat;
  box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.25);
}
.modal-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* PC, 타블렛 size */

@media screen and (min-width: 768px) {
  /* pc-공통영역 */

  .mo-nav-open,
  .wrap-mo-navi,
  .mo-logo-top,
  .nav-footer {
    display: none;
  }

  .btn-secondary {
    padding: var(--pc-btn-padding);
    font-size: var(--pc-btn-size);
  }

  .pc-btn-down {
    margin-left: 10px;
  }

  /* header 영역 */

  .content-header {
    padding: 20px 0;
    background-color: var(--main-background);
  }

  .wrap-navi {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;

    padding: 0 20px;
    margin: 0 auto;
  }

  .logo-top img {
    width: 130px;
    height: 40px;
  }

  .pc-nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  /* main 영역 */

  .title-hero,
  .tit-gallery {
    font-size: var(--pc-tit-size);
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 902px;

    margin-bottom: 80px;
    overflow: hidden;
    background: var(--main-background);
  }

  .wrap-hero {
    display: flex;
    width: 100%;
    max-width: 1280px;
  }

  .wrap-txt-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    margin-left: 36px;
  }

  .img-boxhodu {
    transform: translateX(100px) translateY(131px);
  }

  .intro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 110px;

    margin-bottom: 120px;
  }

  .img-intro {
    object-fit: cover;
    width: 660px;
    height: 390px;

    border-radius: 30px;
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.25);
  }

  .wrap-intro {
    display: flex;
    flex-direction: column;
  }

  .title-intro {
    font-size: var(--pc-middle-size);
    margin-bottom: 30px;
  }

  .gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 90px;
  }

  .tit-gallery {
    margin-bottom: 40px;
    color: var(--btn-color);
    text-align: center;
  }

  .txt-gallery {
    margin-bottom: 88px;
    text-align: center;
  }

  .img-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3%;
    width: 100%;

    margin-bottom: 90px;
  }

  .img-gallery img {
    width: 31%;
    max-width: 378px;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1/1;

    border-radius: 30px;
    box-shadow: 10px 10px 30px 0px #00000040;
  }

  .wrap-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 52px;
  }

  .subscribe {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    position: relative;

    max-width: 1168px;
    z-index: 10;

    margin: 0 auto;
    padding: 50px 58px 30px 58px;
    /* bottom 반응형으로 인해 -20px */

    color: #fff;
    border-radius: 30px;
    background-color: #263140;
  }

  .box-subscribe {
    display: flex;
    flex-direction: column;
    gap: 5%;
  }

  .tit-subscribe {
    font-size: var(--pc-middle-size);
    margin-bottom: 18px;
  }

  .txt-subscribe {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .subscribe-form {
    display: flex;
    position: relative;
    width: 530px;
  }

  .subscribe .subscribe-form input {
    position: relative;
    width: 100%;
    max-width: 530px;
    overflow: hidden;

    padding: 20px 0px 20px 68px;

    border: none;
    border-radius: 60px;
  }

  .subscribe .subscribe-form::before {
    top: 50%;
    left: 28px;

    width: 24px;
    height: 24px;
  }

  .subscribe .subscribe-form .btn-subscribe {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
  }

  .wrap-footer {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
  }
  .box-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35%;
    padding: 45px 30px;
  }

  .content-footer {
    position: relative;
  }

  .content-footer::before {
    height: 340px;
  }

  .logo-bottom {
    width: 226px;
    height: 70px;
  }

  .content-footer .sns-link-footer {
    display: flex;
    gap: 20px;
  }

  .content-footer .sns-link-footer a {
    width: 42px;
    height: 42px;
  }

  .content-footer .sns-link-footer .link-insta {
    background-image: url(../img/instagram.svg);
  }

  .content-footer .sns-link-footer .link-facebook {
    background-image: url(../img/facebook.svg);
  }

  .content-footer .sns-link-footer .link-youtube {
    background-image: url(../img/youtube.svg);
  }

  /* 상단 이동 top 버튼 */

  .btn-gotop {
    position: absolute;

    right: 24px;
    bottom: 185px;

    width: 50px;
    height: 50px;
    z-index: 11;

    border: 1px solid #c4c4c4;
    border-radius: 50%;
    background: url(../img/top-btn.svg) #fff center no-repeat;
  }

  .btn-gotop:hover {
    background: url(../img/scroll-top-btn.svg) #fff center no-repeat;
  }

  /* PC - modal */

  .modal {
    width: 600px;
    height: 400px;
  }

  .img-modalhodu {
    width: 110px;
    height: 112px;
    margin: 60px 0 24px 0;
  }

  .txt-tnx {
    margin-bottom: 12px;

    color: var(--point-txt-color);
    font-weight: 700;
    font-size: var(--pc-middle-size);
  }

  .txt-tnx-desc {
    margin-bottom: 38px;
    font-size: 14px;
  }

  .btn-lovehodu {
    margin-bottom: 40px;
  }
}

/* 모바일 size */

@media screen and (max-width: 767px) {
  /* mobile-공통영역 */

  body {
    padding-top: 76px;
  }

  br,
  .wrap-navi,
  .btn-gotop {
    display: none;
  }

  .break-mobile {
    display: block;
  }

  .btn-secondary {
    padding: var(--mo-btn-padding);
    font-size: var(--mo-btn-size);
  }

  /* header 영역 */

  .content-header {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 24px 0px;

    background-color: var(--main-background);
  }

  .logo-top img {
    width: 92px;
    height: 28px;
  }

  .box-mo-navi {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 768px;

    padding: 0 20px;
  }

  .mo-logo-top img {
    width: 92px;
    height: 28px;
  }

  .mo-nav-open {
    width: 32px;
    height: 32px;
    z-index: 1;

    cursor: pointer;
    background-image: url(../img/menu.svg);
  }

  .wrap-mo-navi {
    position: fixed;
    top: 0;
    right: -289px;
    z-index: 500;

    width: 289px;
    height: 100vh;

    background-color: var(--point-backgroud);
    transition: right 0.3s ease-in-out;
  }

  .mobile-nav button {
    position: absolute;
    top: 22px;
    left: 20px;
    width: 32px;
    height: 32px;
    background: url(../img/arrow-right.svg) no-repeat center;
  }

  .mobile-nav ul {
    display: flex;
    flex-direction: column;
    padding-top: 120px;
  }

  .mo-btn-down {
    margin: 50px 0 0 40px;
  }

  .mobile-nav ul li a {
    padding-left: 50px;
    margin-bottom: 30px;

    color: #fff;
    font-size: var(--mo-middle-size);
    font-weight: 700;
  }

  /* main 영역 */

  .title-hero,
  .tit-gallery {
    text-align: center;
    font-size: var(--mo-tit-size);
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    height: 718px;
    margin-bottom: 40px;

    background: var(--main-background);
    overflow: hidden;
  }

  .title-hero {
    margin-top: 40px;
  }

  .txt-hero {
    margin: 30px 0;
    font-size: var(--mo-regular-size);
  }

  .img-boxhodu {
    width: 197px;
    max-width: 100%;
    height: 422px;
    margin: 30px auto 0;
  }

  .wrap-hero {
    width: 100%;
    max-width: 768px;
    text-align: center;
  }

  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    padding: 0 32px;
    margin-bottom: 60px;
  }

  .img-intro {
    width: 100%;
    aspect-ratio: 326 / 190;
    object-fit: cover;

    border-radius: 30px;
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.25);
  }

  .wrap-intro {
    display: flex;
    flex-direction: column;
  }

  .wrap-intro p {
    font-size: var(--mo-regular-size);
  }

  .title-intro {
    margin-bottom: 20px;
    font-size: var(--mo-tit-size);
  }

  .gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-bottom: 50px;
  }

  .tit-gallery {
    margin-bottom: 30px;
    color: var(--btn-color);
  }

  .txt-gallery {
    margin-bottom: 40px;
    text-align: center;

    font-size: var(--mo-middle-size);
  }

  .img-gallery {
    display: flex;
    gap: 20px;
    padding: 0 32px 60px;
    overflow: auto clip;
  }

  .img-gallery::-webkit-scrollbar {
    display: none;
  }

  .img-gallery img {
    width: 260px;
    height: 260px;
    border-radius: 30px;
    box-shadow: 10px 10px 20px 0px #00000040;
  }

  .wrap-gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
    padding: 32px;
  }

  .wrap-gallery p {
    font-size: var(--mo-middle-size);
  }

  .subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 10;

    margin: 0 32px;
    padding: 36px 32px 30px;

    color: #fff;
    border-radius: 30px;
    background-color: #263140;
  }

  .box-subscribe {
    display: flex;
    flex-direction: column;
  }

  .tit-subscribe {
    margin-bottom: 18px;
    font-size: var(--mo-tit-size);
  }

  .txt-subscribe {
    font-size: var(--mo-regular-size);
    margin-bottom: 30px;
  }

  .subscribe-form {
    position: relative;
    width: 100%;
  }

  .subscribe .subscribe-form input {
    position: relative;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;

    padding: 12px 0px 12px 48px;
    margin-bottom: 20px;

    font-size: 0.75rem;
    border: none;
    border-radius: 60px;
  }

  .subscribe .subscribe-form::before {
    top: 18%;
    left: 50px;

    width: 18px;
    height: 18px;

    background-size: cover;
  }

  .subscribe .subscribe-form {
    padding: 0 32px;
  }

  .wrap-btn-subsc {
    display: flex;
    justify-content: flex-end;
  }

  .wrap-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .content-footer::before {
    height: 271px;
  }

  .nav-footer {
    padding: 30px 0;
  }

  /* ul자체에 */
  .nav-footer-list ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .nav-footer-list ul li {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    color: #767676;

    font-size: var(--mo-regular-size);
  }

  .box-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 58px;
    padding: 30px 0;
  }

  .logo-bottom {
    width: 112px;
    height: 34px;
  }

  .content-footer .sns-link-footer {
    display: flex;
    gap: 20px;
  }

  .content-footer .sns-link-footer a {
    width: 32px;
    height: 32px;

    background-position: 0.44rem 0.43rem;
    background-size: 18.29px 18.29px;
  }

  .content-footer .sns-link-footer .link-insta {
    background-image: url(../img/instagram.svg);
  }

  .content-footer .sns-link-footer .link-facebook {
    background-image: url(../img/facebook.svg);
  }

  .content-footer .sns-link-footer .link-youtube {
    background-image: url(../img/youtube.svg);
  }

  /* 모바일 - modal */

  .modal {
    width: 300px;
    height: 300px;
    box-shadow: 0px 0px 30px 0px #00000033;
  }

  .img-modalhodu {
    width: 60px;
    height: 62px;
    margin: 40px 0 24px 0;
  }

  .txt-tnx {
    margin-bottom: 10px;

    color: var(--point-txt-color);
    font-weight: 700;
    font-size: var(--mo-tit-size);
  }

  .txt-tnx-desc {
    margin-bottom: 28px;
    text-align: center;
    font-size: var(--mo-regular-size);
  }

  .btn-lovehodu {
    margin-bottom: 30px;
  }
}
